<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscriber</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="../static/css/subscriber.css">
</head>
<body>    
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade my-custom-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Contenu du modal -->
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    
    
        <h2>Gestion des Abonnes</h2>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Number</th>
                <th scope="col">IMSI</th>
                <th scope="col">Date Cration</th>
                <th scope="col">Type</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
                {% for subscriber in subscribers %}
                <tr>
                    <td>{{ subscriber.id }}</td>
                    <td>{{ subscriber.number }}</td>
                    <td>{{ subscriber.imsi }}</td>
                    <td>{{ subscriber.creationDate }}</td>
                    <td>{{ subscriber.subscriberType }}</td>
                    <td>
                        <!-- Edit button with a link to detail route -->
                        <a href="#">
                            <i class='bx bxs-user-detail bx-xs'></i>
                        </a>
                        <!-- Edit button with a link to edit route-->
                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class='bx bx-edit bx-xs'></i>
                        </a>
                        <!-- Delete button with a link or form to delete subscriber -->
                        <a href="#">
                            <i class='bx bx-message-alt-x bx-xs'></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <style>
        .my-custom-modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1050;
    }
    </style>

    <script>
        // Votre script personnalisé ici
        $('#exampleModal').on('shown.bs.modal', function () {
            console.log('Hello Bonjour');
        });
    </script>
</body>
</html>



















{% extends 'index.html' %}

{% block title %}Subscribers{% endblock %}

{% block content %}
    <div>
        <!-- Modal -->
        <div class="modal fade my-custom-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Contenu du modal -->
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    
    
        <h2>Gestion des Abonnes</h2>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Number</th>
                <th scope="col">IMSI</th>
                <th scope="col">Date Cration</th>
                <th scope="col">Type</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
                {% for subscriber in subscribers %}
                <tr>
                    <td>{{ subscriber.id }}</td>
                    <td>{{ subscriber.number }}</td>
                    <td>{{ subscriber.imsi }}</td>
                    <td>{{ subscriber.creationDate }}</td>
                    <td>{{ subscriber.subscriberType }}</td>
                    <td>
                        <!-- Edit button with a link to detail route -->
                        <a href="#">
                            <i class='bx bxs-user-detail bx-xs'></i>
                        </a>
                        <!-- Edit button with a link to edit route-->
                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class='bx bx-edit bx-xs'></i>
                        </a>
                        <!-- Delete button with a link or form to delete subscriber -->
                        <a href="#">
                            <i class='bx bx-message-alt-x bx-xs'></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}




 <!-- {% set creation_date_parts = subscriber.creationDate.split('T') %} -->






 # form = CreateSubscriberForm()
 # if form.validate_on_submit():
 #     if form.subscriberType.data == "POSTPAID":
 #         data = {
 #          'number': form.number.data,
 #          'subscriberType': form.subscriberType.data,
 #         }
 #         hlr_service.create_subscriber(data)
 #     else:
 #         print("SUBSCRIBER IS NOT [POSTPAID]")


 # form = SubscriberForm()
 # if form.validate_on_submit():
 #     # data = {
 #     #     'numAppelant': form.numAppelant.data,
 #     #     # Ajoutez les autres données de l'abonné ici
 #     # }
 #     # Appel au service HLR
 #     hlr_service.create_subscriber()
 #     # Appel au service IN
 #     # in_service.create_subscriber()
 #     flash('Subscriber created successfully', 'success')
 #     return redirect(url_for('main.test'))








<!-- Edit button with a link to edit route-->
<a href="{{ url_for('main.genererCdr', number=subscriber.number) }}" data-toggle="modal" data-target="editModal{{ subscriber.id }}">
    <i class='bx bx-phone-call'></i>
</a>


# form = SubscriberForm()
# if form.validate_on_submit():
#     # data = {
#     #     'numAppelant': form.numAppelant.data,
#     #     # Ajoutez les autres données de l'abonné ici
#     # }
#     # Appel au service HLR
#     hlr_service.create_subscriber()
#     # Appel au service IN
#     # in_service.create_subscriber()
#     flash('Subscriber created successfully', 'success')
